body {
    background-image: url("../img/paper-1332019_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: larger;
    min-height: 100vh;
    padding: 1em;
    font-family: "Times New Roman";
}

input[type=text] {
    background-color: #f0e0be;
    font-size: large;
    padding-left: 0.5em;
    font-family: "Times New Roman";
}

select {
    font-size: large;
    font-family: "Times New Roman";
}

input.horizontal {
    margin-left: 1em;
}

header {
    text-align: right;
    padding: 0;
    margin: 0;
}

select {
    background-color: #f0e0be;
}

.scripture {
    background-color: rgba(100%, 100%, 100%, 0.33);
    padding: 0.4em;
}

.scripture > p {
    margin: 0.5em;
}

.citation {
    font-size: small;
    font-style: italic;
}

.who, .pronoun, .singular, .plural {
    color: red;
}

span.capitalize {
    text-transform: capitalize;
}

.adapted-from {
    text-align: right;
    font-size: medium;
}